@import "tailwindcss";
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Tailwind helper classes */
.animate-fadeUp {
  animation: fadeUp 1.5s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out forwards;
}

.delay-300 {
  animation-delay: 0.3s;
}
