@import "tailwindcss";

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

.clip-corner {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
}

.clip-left-corner {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}

.clip-btn {
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

@layer utilities {
  .clip-both-corners {
    clip-path: polygon(
      40px 0,
      100% 0,
      100% calc(100% - 60px),
      calc(100% - 60px) 100%,
      0 100%,
      0 40px
    );
  }
}
